<!doctype html>
{% load static %}
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>dumpstR</title>
  <link rel="stylesheet" href="static/css/bootstrap.css">
  <link rel="stylesheet" href="static/css/nav-styles.css">
  <link rel="stylesheet" href="static/css/style.css">
  <meta name="description" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="icon" href="/img/favicon.ico" sizes="any">
  <link rel="icon" href="/img/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="static/img/icon.png">

  <!--  <link rel="manifest" href="site.webmanifest">-->
  <meta name="theme-color" content="#fafafa">
</head>

<body>
<header>
  <nav class="nav main-nav">
    <div class="nav-div nav-div-left">
      <a class="" href="#">Home</a>
      <a class="" href="#">Home</a>
      <a class="" href="#">Home</a>
      <a class="" href="#">Home</a>
      <a class="" href="#">Home</a>
    </div>
    <div class="nav-div nav-div-right">
      <a class="" href="#">Login</a>
      <a class="" href="#">Register</a>
      <a class="" href="#">Account</a>
      <form>
        <input type="text" name="nav-search"/>
        <button>Search</button>
      </form>
    </div>
  </nav>
  <div class="message-div">
    {% if messages %}

      {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      <strong>Holy guacamole!</strong> You should check in on some of those fields below.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
      <li
        {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
      </li>
      {% endfor %}

    {% endif %}
  </div>
</header>
<div class="main-content">
  {% block body %}
  {% endblock body %}
</div>
<footer class="footer">
  <div class="footer-div footer-div-top">
    <ul>
      <li>some links here</li>
      <li>some links here</li>
      <li>some links here</li>
    </ul>
  </div>
  <div class="footer-div footer-div-bottom">
    <ul>
      <li>some different links here</li>
    </ul>
  </div>
</footer>
<script src="static/js/app.js"></script>
<script src="static/js/bootstrap.bundle.js"></script>
</body>
</html>
