.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #343a40;
    height: 5vh;
    align-content: center;

}

.nav-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.nav-div a {
    display: block;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-size: large;
}

.nav-div a:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
    text-decoration-thickness: 3px;
}

footer {
    background-color: #343a40;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-div {
    width: 100%;
    color: #fff;
}

.footer-div-top {
    background-color: lightslategray;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    color: white;
    font-weight: bolder;
}
