{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="d-md-flex justify-content-center">
    <div class="left-section">
        <figure>
            <img class="about-profile-pic" src="{% static 'img/IMG_5083.jpg' %}" width="30%"
                 height="30%" alt="Image of kalenshi">
        </figure>
    </div>
    <div class="d-lg-flex justify-content-lg-center align-content-lg-center">
        <h1 class="about-header">kalenshi Katebe.</h1>
        <p class="about-me">
            Hello! <br>I'm Kalenshi, a passionate Software developer with a decade of hands-on
            experience crafting innovative solutions and diving deep into the world of programming.
            Over the years, I've honed my skills in Python, transforming abstract concepts into
            robust, scalable, and efficient code.
        </p>
        <p class="about-me">
            My journey began with Python as a fascination and has evolved into a professional
            expertise that spans various domains, including web development, data analysis, machine
            learning, and automation. I thrive on challenges that require creative problem-solving
            and relish the opportunity to architect elegant solutions.
        </p>
        <p class="about-me">
            In my career, I've collaborated on diverse projects, from developing streamlined web
            applications using Django and Flask to leveraging Python's data manipulation libraries
            for insightful data analytics. My proficiency extends to machine learning frameworks
            like TensorFlow and scikit-learn, allowing me to explore the realm of artificial
            intelligence and build predictive models.
        </p>
        <p class="about-me">
            Beyond code, I'm committed to staying updated with the latest advancements in Python and
            technology trends. I've actively contributed to open-source projects, participated in
            developer communities, and mentored aspiring programmers, believing in the power of
            sharing knowledge and fostering growth within the tech community.
        </p>
        <p class="about-me">
            I'm dedicated to writing clean, maintainable code that not only meets but exceeds
            expectations. I prioritize continual learning, seeking out challenges that push the
            boundaries of what's possible with Python. I'm excited about the future possibilities in
            technology and am enthusiastic about contributing my expertise to groundbreaking
            projects.
        </p>
        <p class="about-me">
            Let's connect and explore how my extensive Software Development experience can add value
            to your next venture or project!
        </p>
    </div>
</div>
{% endblock body %}
