{% load static %}
<footer class="footer">
    <section class="mb-4 footer-section ">
        <!-- Twitter -->
        <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #55acee;"
            href="https://twitter.com/chessmathematic"
            role="button"
        ><i class="fab fa-twitter"></i
        ></a>

        <!-- Linkedin -->
        <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #0082ca;"
            href="https://www.linkedin.com/in/kalenshi"
            role="button"
        ><i class="fab fa-linkedin-in"></i
        ></a>
        <!-- Github -->
        <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #333333;"
            href="https://github.com/kalenshi"
            role="button"
        ><i class="fab fa-github"></i
        ></a>
    </section>
</footer>
</div>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>
</html>
