<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'core:home' %}">dumpstR</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% with url_name=request.resolver_match.url_name %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'link' %}active{% endif %}"
                       href="{% url 'core:blog' %}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'link' %}active{% endif %}"
                       href="{% url 'core:contact' %}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'about' %}active{% endif %}"
                       href="{% url 'core:about' %}">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Features
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'core:running' %}">Running</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'core:software-development' %}">Software
                            Development</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item"
                               href="{% url 'core:mathematics' %}">Mathematics</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'dashboard' %}active{% endif %}"
                       href="{% url 'core:dashboard' %}"
                       tabindex="-1">DashBoard</a>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:logout' %}">
                        Logout
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item"
                               href="{% url 'core:accounts' pk=request.user.id%}">Profile</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Some Feature
                        </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item"
                               href="#">Another Feature</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if url_name == 'login' %}active{% endif %}"
                       href="{% url 'core:login' %}">
                        Login
                    </a>
                </li>
                <li class="nav-item {% if url_name == 'register' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'core:register' %}">
                        Register
                    </a>
                </li>
                {% endif %}
            </ul>
            {% endwith %}
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
